

@model PetShop.Web.MVC.Models.Transaction.TransactionDetailsDto

@{
    ViewData["Title"] = "Details Transaction";
}

<h1>Details Transaction</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Surname) @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Surname) @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.AnimalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.AnimalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFood.AnimalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
