@model PetShop.Web.MVC.Models.Transaction.TransactionDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
